# **XGBoost**

[XGBoost Documentation](https://xgboost.readthedocs.io/en/latest/)

In [ ]:
# Import Library.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Import Dataset.
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
# Split the dataset into features and target value.
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

# **Encoding Categorical Data.**

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2]) # Label Encoding the "Gender" column.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder = 'passthrough') # One Hot Encoding the "Geography" column.
X = np.array(ct.fit_transform(X))

# **Split the dataset into training and test set.**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# **Training XGBoost.**

In [ ]:
from xgboost import XGBClassifier
clf = XGBClassifier().fit(X_train, y_train)

# Predicting Test set Results.
y_pred = clf.predict(X_test)

# **Classification Result.**

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print("Accuracy is:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy is: 0.8665
              precision    recall  f1-score   support

           0       0.89      0.96      0.92      1595
           1       0.75      0.51      0.61       405

    accuracy                           0.87      2000
   macro avg       0.82      0.73      0.76      2000
weighted avg       0.86      0.87      0.86      2000

In [ ]:
# Confusion Matrix.
print(confusion_matrix(y_test, y_pred))

[[1526   69]
 [ 198  207]]

# **Applying $K$-Fold Cross Validation.**

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = clf, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 86.19 %
Standard Deviation: 1.01 %