In [1]:
import pandas as pd

data = pd.read_csv("CE802_Ass_2019_Data.csv")
data

     F1  F2   F3    F4    F5    F6  ...   F16   F17   F18   F19   F20  Class
0     0   0   16  2.02  0.52 -2.35  ... -3.49 -1.68  0.02  15.3   NaN   True
1     0   0   86 -0.90  2.75  0.14  ...  0.34  0.36  0.61  10.1   NaN   True
2     1   1  165  0.73  1.05  0.10  ... -0.62  1.67  2.60  11.0  1.55  False
3     1   1  191 -1.50  0.79  0.33  ...  0.63  0.08  0.19   6.3  0.95  False
4     1   1   13  0.25 -1.19 -0.90  ... -2.41 -0.53 -0.77  10.5   NaN   True
..   ..  ..  ...   ...   ...   ...  ...   ...   ...   ...   ...   ...    ...
495   1   1  138  1.36  0.40  1.05  ... -1.24 -0.65  1.26  20.9  2.87   True
496   0   0  102  2.06  0.09  0.84  ... -1.29 -0.03  0.47  19.6  1.83  False
497   1   0  211  0.18  1.71  0.30  ... -0.45 -0.89  0.00   5.9 -1.03  False
498   1   0   94 -0.86  1.06  0.66  ...  1.58 -0.79 -1.20   6.4   NaN   True
499   1   1  104  0.23  1.72 -1.41  ... -1.56  0.11 -0.01  18.3  3.65   True

[500 rows x 21 columns]

In [2]:
df = data.drop(labels=['F20', 'Class'], axis=1) # Drop dependent variable ('Class') and missing_value feature ('F20').
df.shape  # Shape of the dataset.

(500, 19)

# **Applying Variance Threshold.**

**Variance Threshold Feature Selector removes all low-variance features. This feature selection algorithm looks only at the features (X), not the desired output (y), and can thus be used for unsupervised learning.**

**Parameters:-** *threshold : float, default=0*

Features with a training-set variance lower than this threshold will be removed. The default is to keep all features with non-zero variance, i.e. remove the features that have the same value in all samples.

[sklearn.feature_selection.VarianceThreshold](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html)

In [3]:
from sklearn.feature_selection import VarianceThreshold
var_threshold = VarianceThreshold(threshold=0.5)
var_threshold.fit(df)

var_threshold.get_support()

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True])

In [4]:
print(sum(var_threshold.get_support())) # Total Feature Selection.

16

In [5]:
len(df.columns[var_threshold.get_support()])  # Total Feature Selection.

16

In [6]:
constant_columns = [column for column in df.columns if column not in df.columns[var_threshold.get_support()]]
print(len(constant_columns))  # Count of Rejected Features.

3

In [7]:
for column in constant_columns:
  print(column) # List of Rejected Features.

F1
F2
F13

In [8]:
new_df = df.drop(constant_columns, axis=1) # Drop Selected Features below threshold value.
new_df.shape  # Shape of the new dataset.

(500, 16)